<launch>

  <arg name="MANAGER" value="detic_detection_manager"/>

  <arg name="namespace" default="docker"/>
  <arg name="debug" default="false"/>

  <!-- CHANGE PNG_LEVEL TO 1 -->
  <!-- https://github.com/knorth55/zdepth_image_transport -->
  <!-- https://github.com/knorth55/zdepth_image_transport -->
  <include file="$(find detic_ros)/launch/sample_detection.launch">
    <arg name="input_image" value="/realsense_torso/color/image_rect_color"/>
    <arg name="input_depth" value="/realsense_torso/aligned_depth_to_color/image_raw"/>
    <arg name="input_camera_info" value="/realsense_torso/color/camera_info"/>
    <arg name="robot_frame" value="base"/>
    <arg name="vocabulary" value="custom"/>
    <arg name="custom_vocabulary" value="toy,bottle,cup,baseball,box"/>
    <arg name="confidence_threshold" value="0.5"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="namespace" value="$(arg namespace)"/>
  </include>

  <group ns='$(arg namespace)'>

    <!-- EXTRACT LABELS -->
    <node name="detic_filter_toy"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl_utils/ClusterPointIndicesLabelFilter $(arg MANAGER)">
      <remap from="~input/indices" to="detic_segmentor/indices"/>
      <remap from="~input/labels" to="detic_segmentor/detected_classes"/>
      <remap from="~output" to="detic_segmentor/output/toy/indices"/>
      <rosparam>
        label_value: 1
      </rosparam>
    </node>

    <node name="detic_filter_bottle"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl_utils/ClusterPointIndicesLabelFilter $(arg MANAGER)">
      <remap from="~input/indices" to="detic_segmentor/indices"/>
      <remap from="~input/labels" to="detic_segmentor/detected_classes"/>
      <remap from="~output" to="detic_segmentor/output/bottle/indices"/>
      <rosparam>
        label_value: 2
      </rosparam>
    </node>

    <node name="detic_filter_cup"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl_utils/ClusterPointIndicesLabelFilter $(arg MANAGER)">
      <remap from="~input/indices" to="detic_segmentor/indices"/>
      <remap from="~input/labels" to="detic_segmentor/detected_classes"/>
      <remap from="~output" to="detic_segmentor/output/cup/indices"/>
      <rosparam>
        label_value: 3
      </rosparam>
    </node>

    <node name="detic_filter_baseball"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl_utils/ClusterPointIndicesLabelFilter $(arg MANAGER)">
      <remap from="~input/indices" to="detic_segmentor/indices"/>
      <remap from="~input/labels" to="detic_segmentor/detected_classes"/>
      <remap from="~output" to="detic_segmentor/output/baseball/indices"/>
      <rosparam>
        label_value: 4
      </rosparam>
    </node>

    <node name="detic_filter_box"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl_utils/ClusterPointIndicesLabelFilter $(arg MANAGER)">
      <remap from="~input/indices" to="detic_segmentor/indices"/>
      <remap from="~input/labels" to="detic_segmentor/detected_classes"/>
      <remap from="~output" to="detic_segmentor/output/box/indices"/>
      <rosparam>
        label_value: 5
      </rosparam>
    </node>

    <!-- EUCLIDEAN CLUSTERING -->
    <node name="detic_euclidean_clustering_toy"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/EuclideanClustering $(arg MANAGER)"
          clear_params="true">
      <remap from="~input" to="depth_registered/points"/>
      <remap from="~input/cluster_indices" to="detic_segmentor/output/toy/indices"/>
      <remap from="~output" to="detic_segmentor/output/toy/indices/filtered"/>
      <rosparam>
        multi: true
        tolerance: 0.03
        min_size: 50
        max_size: 1000
        downsample_enable: true
        cluster_filter: 1
        approximate_sync: true
        queue_size: 100
      </rosparam>
    </node>

    <node name="detic_euclidean_clustering_bottle"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/EuclideanClustering $(arg MANAGER)"
          clear_params="true">
      <remap from="~input" to="depth_registered/points"/>
      <remap from="~input/cluster_indices" to="detic_segmentor/output/bottle/indices"/>
      <remap from="~output" to="detic_segmentor/output/bottle/indices/filtered"/>
      <rosparam>
        multi: true
        tolerance: 0.03
        min_size: 50
        max_size: 1000
        downsample_enable: true
        cluster_filter: 1
        approximate_sync: true
        queue_size: 100
      </rosparam>
    </node>

    <node name="detic_euclidean_clustering_cup"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/EuclideanClustering $(arg MANAGER)"
          clear_params="true">
      <remap from="~input" to="depth_registered/points"/>
      <remap from="~input/cluster_indices" to="detic_segmentor/output/cup/indices"/>
      <remap from="~output" to="detic_segmentor/output/cup/indices/filtered"/>
      <rosparam>
        multi: true
        tolerance: 0.03
        min_size: 50
        max_size: 1000
        downsample_enable: true
        cluster_filter: 1
        approximate_sync: true
        queue_size: 100
      </rosparam>
    </node>

    <node name="detic_euclidean_clustering_baseball"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/EuclideanClustering $(arg MANAGER)"
          clear_params="true">
      <remap from="~input" to="depth_registered/points"/>
      <remap from="~input/cluster_indices" to="detic_segmentor/output/baseball/indices"/>
      <remap from="~output" to="detic_segmentor/output/baseball/indices/filtered"/>
      <rosparam>
        multi: true
        tolerance: 0.03
        min_size: 50
        max_size: 1000
        downsample_enable: true
        cluster_filter: 1
        approximate_sync: true
        queue_size: 100
      </rosparam>
    </node>

    <node name="detic_euclidean_clustering_box"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/EuclideanClustering $(arg MANAGER)"
          clear_params="true">
      <remap from="~input" to="depth_registered/points"/>
      <remap from="~input/cluster_indices" to="detic_segmentor/output/box/indices"/>
      <remap from="~output" to="detic_segmentor/output/box/indices/filtered"/>
      <rosparam>
        multi: true
        tolerance: 0.03
        min_size: 50
        max_size: 1000
        downsample_enable: true
        cluster_filter: 1
        approximate_sync: true
        queue_size: 100
      </rosparam>
    </node>

    <!-- POINT INDICES DECOMPOSER -->
    <node name="detic_cluster_point_indices_decomposer_toy"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/ClusterPointIndicesDecomposer $(arg MANAGER)"
          clear_params="true">
      <remap from="~input" to="depth_registered/points"/>
      <remap from="~target" to="detic_segmentor/output/toy/indices/filtered"/>
      <remap from="~boxes" to="detic_segmentor/output/toy/boxes"/>
      <remap from="~centroid_pose_array" to="detic_segmentor/output/toy/centroid"/>
      <rosparam>
        align_boxes: true
        align_boxes_with_plane: false
        force_to_flip_z_axis: false
        use_pca: false
        target_frame_id: base
        approximate_sync: true
        queue_size: 100
      </rosparam>
    </node>

    <node name="detic_cluster_point_indices_decomposer_bottle"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/ClusterPointIndicesDecomposer $(arg MANAGER)"
          clear_params="true">
      <remap from="~input" to="depth_registered/points"/>
      <remap from="~target" to="detic_segmentor/output/bottle/indices/filtered"/>
      <remap from="~boxes" to="detic_segmentor/output/bottle/boxes"/>
      <remap from="~centroid_pose_array" to="detic_segmentor/output/bottle/centroid"/>
      <rosparam>
        align_boxes: true
        align_boxes_with_plane: false
        force_to_flip_z_axis: false
        use_pca: false
        target_frame_id: base
        approximate_sync: true
        queue_size: 100
      </rosparam>
    </node>

    <node name="detic_cluster_point_indices_decomposer_cup"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/ClusterPointIndicesDecomposer $(arg MANAGER)"
          clear_params="true">
      <remap from="~input" to="depth_registered/points"/>
      <remap from="~target" to="detic_segmentor/output/cup/indices/filtered"/>
      <remap from="~boxes" to="detic_segmentor/output/cup/boxes"/>
      <remap from="~centroid_pose_array" to="detic_segmentor/output/cup/centroid"/>
      <rosparam>
        align_boxes: true
        align_boxes_with_plane: false
        force_to_flip_z_axis: false
        use_pca: false
        target_frame_id: base
        approximate_sync: true
        queue_size: 100
      </rosparam>
    </node>

    <node name="detic_cluster_point_indices_decomposer_baseball"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/ClusterPointIndicesDecomposer $(arg MANAGER)"
          clear_params="true">
      <remap from="~input" to="depth_registered/points"/>
      <remap from="~target" to="detic_segmentor/output/baseball/indices/filtered"/>
      <remap from="~boxes" to="detic_segmentor/output/baseball/boxes"/>
      <remap from="~centroid_pose_array" to="detic_segmentor/output/baseball/centroid"/>
      <rosparam>
        align_boxes: true
        align_boxes_with_plane: false
        force_to_flip_z_axis: false
        use_pca: false
        target_frame_id: base
        approximate_sync: true
        queue_size: 100
      </rosparam>
    </node>

    <node name="detic_cluster_point_indices_decomposer_box"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/ClusterPointIndicesDecomposer $(arg MANAGER)"
          clear_params="true">
      <remap from="~input" to="depth_registered/points"/>
      <remap from="~target" to="detic_segmentor/output/box/indices/filtered"/>
      <remap from="~boxes" to="detic_segmentor/output/box/boxes"/>
      <remap from="~centroid_pose_array" to="detic_segmentor/output/box/centroid"/>
      <rosparam>
        align_boxes: true
        align_boxes_with_plane: false
        force_to_flip_z_axis: false
        use_pca: false
        target_frame_id: base
        approximate_sync: true
        queue_size: 100
      </rosparam>
    </node>

    <!--   <node name="detic_card_filter" -->
    <!--         pkg="detic_ros" type="filter_posearray.py" -->
    <!--         args="detic_segmentor/output/centroid detic_segmentor/output/card/table/centroid -->
    <!--               detic_euclidean_clustering/output detic_segmentor/output/card/table/indices"/> -->

  </group>

</launch>
